<%= form_for([@article, @comment], html: { class: "form" }) do |f| %>

  <%= f.label :body %>
  <%= f.text_area :body, class: "text-body" %><br>

  <div>
    <%= f.submit "Share Your Thoughts!", class: "btn btn-submit" %>
  </div>

<% end %>
