<h1>Articles Index</h1>

<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article.id) %> by <%= link_to article.user.username, user_path(article.user.id) %></li>
  <% end %>
</ul>
