$primary-text: #040c24;
$second-text: #0a205a;
$light-text: #F4F4F4;
$background: #EDEDED;
$dark: #0a205a;
$light: #9da5bd;

* {
  color: $primary-text;
  font-family: "Avenir Next", sans-serif;
  text-decoration: none;
}
