@import 'base';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: capitalize;
  color: $second-text;
}

h1 {
  margin: 10px 0;
}

h3 {
  margin: 0;
  margin-right: 10px;
}

a {
  color: $second-text;
}

body {
  background-color: $background;
  margin: 10px;
}
