<div class="user-search">
  <p class="user-search-heading">Find all Articles by Creator's Username:</p>
  <%= form_tag(search_path(1), method: :get) do %>
    <%= text_field_tag(:article_search, params[:search]) %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
